<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{$active} - 考勤系统</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="__PUBLIC__/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui-1.10.3.custom.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/chosen.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/datepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/bootstrap-timepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/daterangepicker.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/colorpicker.css" />

		<!-- fonts -->

		<link rel="stylesheet" href="__PUBLIC__/http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

		<!-- ace styles -->

		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__PUBLIC__/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="__PUBLIC__/assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__PUBLIC__/assets/js/html5shiv.js"></script>
		<script src="__PUBLIC__/assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<include file="Public:header" />

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<!-- #sidebar-shortcuts -->

					<include file="Public:menu" /><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<include file="Public:breadcrumb" /><!-- .breadcrumb -->

						<!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="page-header">
							
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<form id="form1" class="form-horizontal" role="form" action="{:U('User/app_add')}" method="post">
									

									<div class="space-4"></div>
									
                                    <div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> appid </label>

										<div class="col-sm-9">
											<input name="appid" value="" type="text" placeholder="appid" class="col-xs-10 col-sm-5" />
										</div>
									</div>
									
									<input type="hidden" name="tp_machineid" value="{$Think.get.tp_machineid}" />
									
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="icon-ok bigger-110"></i>
												提交
											</button>

											
											
										</div>
									</div>
								</form>

								

								

								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				<!-- /#ace-settings-container -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src='__PUBLIC__/assets/js/jquery-2.0.3.min.js'></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="__PUBLIC__/http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="__PUBLIC__/assets/js/excanvas.min.js"></script>
		<![endif]-->

		<script src="__PUBLIC__/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="__PUBLIC__/assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="__PUBLIC__/assets/js/chosen.jquery.min.js"></script>
		<script src="__PUBLIC__/assets/js/fuelux/fuelux.spinner.min.js"></script>
		<script src="__PUBLIC__/assets/js/date-time/bootstrap-datepicker.min.js"></script>
		<script src="__PUBLIC__/assets/js/date-time/bootstrap-timepicker.min.js"></script>
		<script src="__PUBLIC__/assets/js/date-time/moment.min.js"></script>
		<script src="__PUBLIC__/assets/js/date-time/daterangepicker.min.js"></script>
		<script src="__PUBLIC__/assets/js/bootstrap-colorpicker.min.js"></script>
		<script src="__PUBLIC__/assets/js/jquery.knob.min.js"></script>
		<script src="__PUBLIC__/assets/js/jquery.autosize.min.js"></script>
		<script src="__PUBLIC__/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
		<script src="__PUBLIC__/assets/js/jquery.maskedinput.min.js"></script>
		<script src="__PUBLIC__/assets/js/bootstrap-tag.min.js"></script>

		<!-- ace scripts -->

		<script src="__PUBLIC__/assets/js/ace-elements.min.js"></script>
		<script src="__PUBLIC__/assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
			$(document).ready(function(){
				$("#submit").click(function(){
					var url = "{:U('User/machine_edit')}";
					var redirect_url = "{:U('User/machine_list')}";
					var formParam = $("#form1").serialize();//序列化表格内容为字符串  
					
					jQuery.ajax({  
						type:'post',      
						url:url,  
						data:formParam,  
						cache:false,  
						dataType:'json',  
						success:function(data){
							window.location.href = redirect_url;
							/*if(data.status == 1){
								window.location.href = data.url;
							}else{
								alert(data.info);
							}*/
						}  
					});
				});
			});
		</script>
	
</body>
</html>
